<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico?def=asdf1" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <table class="main-layout">
        <colgroup>
       <col span="1" style="width: 120px;">
       <!--col span="1" style="width: 85%;"-->
    </colgroup>
        <tr>
            <td>
                <p class="site-title center">
                    @Html.RouteLink("Mediane", "Home", new {controller="Home", action="Index", id = "Main_Page" }, new { @class = "logo" })
                </p>
            </td>
            <td>
                <div class="float-left">
                    <input type="text" value="text to search" class="search">
                    <button value="search" class="search">search</button>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </td>

        </tr>
        <tr>
            <td class="nav-menu">
                <nav>
                    <ul id="menu">
                        <li>@Html.RouteLink("Home", "Home", new {controller="Home", action="Index", id = "Main_Page" })</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </td>

            <td>
                @RenderSection("viewtabs", required: false)
                <section class="main-content">
                    @RenderBody()
                </section>
            </td>
        </tr>

    </table>
    <footer>
        <div class="content-wrapper">
            <div class="float-center">
                <p>&copy; @DateTime.Now.Year - powered by <a href="https://code.google.com/p/mediane/">Mediane</a> engine</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
